*{
    box-sizing:border-box;
}

#fixed{
    position:fixed;
    height: 100px;
    width: 250px;
    top: 0;
    background-color: #eee;
}

.wrapper{
    width:600px;
    margin: 0 auto;
}

#relative{
    position: relative;
    background: #eee;
    text-align: center;
    height: 200px;
}

#absolute{
    width: 250px;
    height: 100px;
    top: 50%;
    position: absolute;
    background: #999;
    right: -30px;
}
